asgiref==3.5.2
dj-database-url==0.5.0
Django==4.1.1
django-ckeditor==6.5.1
django-cors-headers==3.13.0
django-js-asset==2.0.0
django-sass-processor==1.1
libsass==0.21.0
Pillow==9.2.0
pycodestyle==2.8.0
PyYAML==6.0
rcssmin==1.1.0
regex==2022.4.24
rjsmin==1.2.0
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
tomli==2.0.1
tqdm==4.64.0
tzdata==2022.1
whitenoise==6.1.0
zipp==3.8.0
