{% extends 'base.html' %} {% block root %} {% include "includes/navbar.html" %}
{% include "includes/navbarSearchModal.html" %} {% block outlet %}
<form id="form" class="container w-50 mt-5 p-3 bg-white" method="post">
  {% csrf_token %}
  <h1 class="title-2">Cost Estimator</h1>
  <p>
    <label for="formGroupExampleInput">From</label>
    <input
      type="text"
      value="{{ values.0 }}"
      name="pick"
      id="formGroupExampleInput"
      placeholder="Pick Up Address"
    />
  </p>
  <p>
    <label for="formGroupExampleInput">To</label>
    <input
      type="text"
      value="{{ values.1 }}"
      name="delivery"
      placeholder="Delivery Address"
    />
  </p>
  <p>
    <label for="formGroupExampleInput"
      >Logistic Service (Road, Air, Water)</label
    >
    <input
      type="text"
      value="{{ values.2 }}"
      name="medium"
      id="formGroupExampleInput"
      placeholder="Pick Up Address"
    />
  </p>
  <p>
    <label for="formGroupExampleInput">Weight in Kg</label>
    <input
      type="number"
      value="{{ values.3 }}"
      id="formGroupExampleInput"
      placeholder="Enter the weight"
      name="weight"
    />
  </p>
  <p>
    <label for="formGroupExampleInput">Approximate Distance in Km</label>
    <input
      type="number"
      value="{{ values.4 }}"
      placeholder="Enter the Approximate Distance"
      name="distance"
    />
  </p>
  <button type="submit">Estimate Cost</button>
  {% if cost_result %}
    <input
    type="text"
    value="{{ cost_result }}"
    style="font-weight: 700;"
    readonly
  />
  {% endif %}
</form>
{% endblock outlet %} {% include "includes/footer.html" %} {% endblock root %}