{% extends 'base.html' %}
{% block root %}
{% include "includes/navbar.html" %}
{% include "includes/navbarSearchModal.html" %}
{% block outlet %}

<div class="container bg-white p-lg-5 mt-5">
    <h1 class="title-2" >Welcome to Shipping Service</h1>
    <p class="text-center" style="color:#9b9b9b">To ship your package, you are first supposed to fill up the given form and proceed checkout</p>
    <form id="form" class="container p-3 bg-white" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit Your Order</button>
    </form> 
</div>

{% endblock outlet %}
{% include "includes/footer.html" %}
{% endblock root %} 