{% extends 'base.html' %}
{% block root %}
{% include "includes/navbar.html" %}
{% include "includes/navbarSearchModal.html" %}
{% block outlet %}

<div class="container bg-white p-lg-5 mt-5">
    <h2 class="title-2">Customer Support</h2>
    <p class="text-center" style="color:#9b9b9b">We are here to address your issues and queries. Feel free to message us.</p>
    <div class="shadow p-3 mb-5 bg-white rounded">
        <form id="form" class="container p-3 bg-white" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Send Message</button>
        </form> 
    </div>
</div>

{% endblock outlet %}
{% include "includes/footer.html" %}
{% endblock root %} 