{% extends 'base.html' %}
{% block root %}
{% include "includes/navbar.html" %}
{% include "includes/navbarSearchModal.html" %}
{% block outlet %}

<div class="container-fluid d-flex" style="object-fit:center; background-size:cover; min-height: 100vh; background-image: url(https://images.unsplash.com/photo-1578575437130-527eed3abbec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);">
    <div class="alert alert-primary m-auto p-5 d-flex" role="alert" style="height:200px;">
        <h1 class="m-auto text-dark">Thank you !! We will get back to you soon.</h1>
    </div>
</div>

{% endblock outlet %}
{% include "includes/footer.html" %}
{% endblock root %} 