{% extends 'base.html' %}
{% block root %}
{% include "includes/navbar.html" %}
{% include "includes/navbarSearchModal.html" %}
{% block outlet %}

<div class="container bg-white p-lg-5 mt-5">
    <h2 class="text-center text-secondary">Customer Support</h2>
    <p class="text-center">We are here to address your issues and queries. Feel free to message.</p>
    <div class="shadow p-3 mb-5 bg-white rounded">
        <form class="container p-3 bg-white" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit"  class="btn btn-secondary btn-lg btn-block mt-4">Submit Your Order</button>
        </form> 
    </div>
</div>

{% endblock outlet %}
{% include "includes/footer.html" %}
{% endblock root %} 