{% extends 'base.html' %}
{% block root %}
{% include "includes/navbar.html" %}
{% include "includes/navbarSearchModal.html" %}
{% block outlet %}
<br/>
<br/>
<div id="track_your_item" class="container-fluid d-flex" style="object-fit:center; background-size:cover; min-height: 100vh; background-image: url(https://cdn.pixabay.com/photo/2022/05/27/20/17/parcel-7225976_960_720.jpg);">
        <form method="post" id="form" style="margin:auto;" class="track-form p-3">
            {% csrf_token %}
            <span class="title-2 text-left">Track your item</span>
            <p class="text-left px-2" style="color:#9b9b9b">Enter your tracking number to track the item.</p>
            <input value="{{tracking_number}}" type="text" name="tracking-number" id="tracking-number" placeholder="Enter tracking number">
            <button class="mt-4" type="submit">Track Your Order</button>
            {% if msg %}
            <div class="alert alert-primary mt-4" role="alert">
                {{msg}}
            </div>
            {% endif %}
        </form>
</div>
{% endblock outlet %}
{% include "includes/footer.html" %}
{% endblock root %} 