{% extends 'base.html' %}
{% block root %}
{% include "includes/navbar.html" %}
{% include "includes/navbarSearchModal.html" %}
{% block outlet %}
<div class="container-fluid d-flex" style="object-fit:center; background-size:cover; min-height: 100vh; background-image: url(https://images.unsplash.com/photo-1578575437130-527eed3abbec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);">
    {% if request.user.is_authenticated %}
        <form method="post" style="margin:auto;" class="d-flex flex-wrap flex-column">
            {% csrf_token %}
            <button type="submit" class="btn btn-lg btn-warning" style="width:300px; margin:auto">Track Your Order</button>
            <h2 class="bg-white p-3 rounded mt-3">{{ msg }}</h2>
        </form>
    {% else %}
        <a type="button" href={% url 'register' %} class="btn btn-lg btn-warning" style="width:300px; margin:auto">Sign Up First</a>
    {% endif %}
</div>
{% endblock outlet %}
{% include "includes/footer.html" %}
{% endblock root %} 