{% load custom_tags %}
<div class="container-wrapper">
    <a href={% url 'category' i.category.id %} class="container-title">
        <span class="title">{{ category.name }}</span>
        <span class="container-button">See all
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="25"
                 height="25 "
                 fill="currentColor"
                 class="bi bi-arrow-right"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
            </svg>
        </span>
    </a>
    <div class="products-container">
        {% for i in products %}
        <a href={% url 'product' i.product.id %} class="product">
            <img src={{i.image}} alt="Your image url">
            <div class="discount-price">
                <div class="price">${{ i.product.price|calculateDiscount:i.product.discount }}</div>
                <div class="discount">{{i.product.discount}}% OFF</div>
            </div>
            <div class="original-price">${{i.product.price}}</div>
        </a>
        {% endfor %}
    </div>
</div>
