<div class="profile-tab-address-detail">
    <table class="table">
        <tbody>
            {% if addressDetail %}
            <tr>
                <th scope="row">Street</th>
                <td>{{ addressDetail.street }}</td>
            </tr>
            <tr>
                <th scope="row">City</th>
                <td>{{ addressDetail.city }}</td>
            </tr>
            <tr>
                <th scope="row">Zip code</th>
                <td>{{ addressDetail.zip_code }}</td>
            </tr>
            <tr>
                <th scope="row">State</th>
                <td>{{ addressDetail.state }}</td>
            </tr>
            {% else %}
            <tr>
                <th scope="row">Address Details</th>
                <td>Not added yet.</td>
            </tr>
            {% endif %}
            <tr class="button-container">
                <td colspan="2"><button>Edit Address Detail</button></td>
            </tr>
        </tbody>
    </table>
</div>