{% extends "home.html" %}
{% block title %}Homepage{% endblock title %}
{% block outlet %}
{% include "includes/carousel.html" %}
<div class="bg-white p-5 mt-5" id="why_choose_us">
    <h1 class="title-2">Why Choose Us?</h1>
    <div class="d-flex justify-content-evenly flex-row flex-wrap">
        <div class="col-5 shadow p-3 bg-white rounded d-flex flex-column" style="height: 400px;">
            <img style="height:250px ; object-fit:cover;" src="https://cdn.pixabay.com/photo/2021/12/06/10/55/hamburg-6849995_960_720.jpg"/>
            <h4 class="mt-2" style="font-weight:bold;">Water Way Service</h4>
            <p>
                We provide continental logistic Service through water ways. This is the most cheapest means of delivering your package all around the world.
            </p>
        </div>
        <div class="col-5 shadow p-3 bg-white rounded d-flex flex-column" style="height: 400px;">
            <img style="height:250px ; object-fit:cover ;" src="https://cdn.pixabay.com/photo/2020/07/08/18/24/transport-5384787_960_720.jpg"/>
            <h4 class="mt-2" style="font-weight:bold ;">Air Way Service</h4>
            <p>
                We provide continental logistic Service through air ways. This is the most expensive means of delivering your package all around the world.
            </p>
        </div>
        <div class="col-5 shadow p-3 mb-5 bg-white rounded d-flex flex-column mt-5" style="height: 400px;">
            <img style="height:250px ; object-fit:cover ;" src="https://cdn.pixabay.com/photo/2014/11/17/12/15/semi-trailers-534577_960_720.jpg"/>
            <h4 class="mt-2" style="font-weight:bold ;">Land Service</h4>
            <p>
                We provide logistic Service through land ways. This is common means of delivering your package inside the country.
            </p>
        </div>
        <div class="col-5 shadow p-3 mb-5 bg-white rounded d-flex flex-column mt-5" style="height: 400px;">
            <img style="height:250px ; object-fit:cover ;" src="https://cdn.pixabay.com/photo/2021/01/11/17/24/riders-5908997_960_720.jpg"/>
            <h4 class="mt-2" style="font-weight:bold ;">Home Delivery Service</h4>
            <p>
                We provide home delivery service through our delivery person. Your package will be delivered to your door step.
            </p>
        </div>
    </div>
</div>
{% endblock outlet %}